<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl -->
<target name="2023-09 - Default" sequenceNumber="1711238084">
  <locations>
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.jetty.websocket.javax.server" version="10.0.13"/>
      <repository location="mvn:org.eclipse.jetty:jetty-p2:10.0.13:zip:p2site"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.glsp.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.glsp.feature.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.glsp.server.websocket" version="0.0.0"/>
      <unit id="org.eclipse.glsp.layout" version="0.0.0"/>
      <unit id="org.eclipse.glsp.example.workflow" version="0.0.0"/>
      <repository location="https://download.eclipse.org/glsp/server/p2/releases/2.0.0/"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.elk.core" version="0.8.1"/>
      <unit id="org.eclipse.elk.graph" version="0.8.1"/>
      <unit id="org.eclipse.elk.graph.text" version="0.8.1"/>
      <unit id="org.eclipse.elk.alg.layered" version="0.8.1"/>
      <repository location="https://download.eclipse.org/elk/updates/releases/0.8.1/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="com.equo.chromium.eclipse.feature.feature.group" version="1.0.9"/>
      <repository location="https://dl.equo.dev/chromium-swt-ee/marketplace/p2/"/>
    </location>
  </locations>
</target>